<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Product component page</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div id="app">
      <div class="product">
        <div class="product_image product_container">
          <img :src="image" alt="" />
        </div>
        <div class="product_info product_container">
          <h1>{{title}}</h1>
          <p>{{description}}</p>
          <ul>
            <li v-for="detail in details">{{detail}}</li>
          </ul>
          <div class="available">
            <p v-if="inventory > 1">we have more socks</p>
            <p v-else-if="inventory === 1">we have 1 socks</p>
            <p v-else>we do not have socks</p>
          </div>
          <div class="hover">
            <div
              class="hovered_block"
              v-for="variant in variants"
              :key="variant.id"
            >
              <p @mouseover="updateProduct(variant.img)">
                {{variant.variantColor}}
              </p>
            </div>
          </div>
          <div class="order">
            <button class="add_btn" @click="addToCart">Add to cart</button>
            <div class="cart_btn">Cart({{cart}})</div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="main.js"></script>
  </body>
</html>
